<header>
  <mat-toolbar class="header-styles header-color">
    <mat-toolbar-row class="mat-elevation-z8 header-row">
      <div class="logo">
        <a routerLink="/">MessageME</a>
      </div>
      <div class="flxr jcc ais">
        <mat-nav-list class="navbar-styles">
          <a mat-list-item routerLink="/">
            Home
          </a>
          <a mat-list-item routerLink="/account/login" *ngIf="!this.isLoggedIn">
            Login
          </a>
          <a mat-list-item routerLink="/account/register" *ngIf="!this.isLoggedIn">
            Register
          </a>
          <a mat-list-item routerLink="/account" *ngIf="this.isLoggedIn">
            Dashboard
          </a>
          <a mat-list-item routerLink="/account/settings" *ngIf="this.isLoggedIn">
            Setting
          </a>
          <a mat-list-item routerLink="/about">
            About ME
          </a>
          <a mat-list-item routerLink="/contact">
            ContactME
          </a>
        </mat-nav-list>
        <mat-action-list class="navbar-styles" *ngIf="this.isLoggedIn">
          <button mat-list-item (click)="this.performLogout.emit()">
            Log Out
          </button>
        </mat-action-list>
      </div>
      <div class="drawer-button">
        <button mat-flat-button class="header-color white" (click)="this.openDrawer.emit()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar class="header-color">
  </mat-toolbar>
</header>