<header>
  <mat-toolbar color="primary" class="header-styles">
    <mat-toolbar-row class="mat-elevation-z8 header-row">
      <div class="logo">
        <a routerLink="/home">MessageME</a>
      </div>
      <ul class="navbar-styles">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li *ngIf="!this.ajax.loggedInUser">
          <a routerLink="/account/login">Login</a>
        </li>
        <li *ngIf="!this.ajax.loggedInUser">
          <a routerLink="/account/register">Register</a>
        </li>
        <li *ngIf="this.ajax.loggedInUser">
          <a routerLink="/account">Dashboard</a>
        </li>
        <li *ngIf="this.ajax.loggedInUser">
          <a routerLink="/account/settings">Setting</a>
        </li>
        <li *ngIf="this.ajax.loggedInUser" class="isPointer">
          <a (click)="removeId()">Logout</a>
        </li>
        <li>
          <a routerLink="/about">About Me</a>
        </li>
        <li>
          <a routerLink="/contact">ContactME</a>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="primary">
  </mat-toolbar>
</header>