
.header_styles{
    position: fixed;
    top:0px;
    left: 0px;
}



.navbar-right li a{
    color:white;
    transition: 0.5s;
    margin: auto 5px;
    font-size: 1.2em;
}
.nav.navbar-nav{
    text-align: center;
}
.navbar-right li a:hover{
    color: rgb(255, 179, 179)!important;
 }
 .navbar.navbar-default{
    color:white!important;
    background-color:#353535;
 }
 .logo{
     font-size: 1.3em;
     color: #fff!important;
     transition: 0.5s;
     margin: 0px 2em!important;
 }
     @media(max-width:425px){
        .logo{
            margin: 0px 0.2em!important;
        }
        
     }
.logo:hover{
    text-shadow: black 0px 0px 20px;    
}
.point{
    cursor:pointer;
}