<div class="col-sm-12" style="align-self:centre;align-self:center">
    <h3>
        <strong class="red">About Us</strong>
    </h3>
    <p>MessageME is a platform where you can recive messages from anonymous person.
        <strong>Only thing which you have to do is make your Account Here and share the link with provided to you with others.</strong>
        It will help you in getting Feedback</p>
    <hr/>
    <strong>FAQ</strong>
    <br>
    <br>
    <ul>
        <li>
            <strong class="red">Will I show the identity of senders? </strong>
            <br>
            <p>I won't disclose the identity of any sender to users as its all about being Anonymous.
            </p>
            <br> </li>
        <li>
            <strong class="red"> Am I a hacker?!</strong>
            <br>
            <p>I am not stealing your data and don't intent to.
            </p>
            <br> </li>
        <li>
            <strong class="red">Can visitors view my messages?
            </strong>
            <br>
            <p>They can't
            </p>
            <br>
        </li>
        <li>
            <strong class="red">Can I respond to messages?
            </strong>
            <br>
            <p>Sorry for this one but you can't respond to messages.
            </p>
            <br>
        </li>

    </ul>

</div>
