<form #myform id="myform" class="form-horizontal col-sm-6 col-sm-offset-3">
  <div class="form-group box">
    <h2>Login Panel</h2>
  </div>
  <div class="form-group">
    <label for="username" class="col-sm-3 control-label">Enter email</label>
    <div class="col-sm-9">
      <input type="text" id="username" name="username" class="form-control" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        placeholder="Enter Email here" required minlength="4" [(ngModel)]="data.username" #username="ngModel">
      <span>*
        <span style="font-size:10px;"> Enter a valid e-mail address</span>
      </span>
    </div>

  </div>
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">Enter Password</label>
    <div class="col-sm-9">
      <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password here" required minlength="8"
        maxlength="16" [(ngModel)]="data.password" #password="ngModel">
      <span>*
        <span style="font-size:10px;"> Only 8-16 characters are allowed</span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary col-sm-12" style="width:100%;height:100%;" (click)="doLogin()">Submit</button>
  </div>
</form>