.login-container {
  margin: 0.5em;
  padding: 5rem;
  background-color:rgba(255,255,255,0.7);
  display: flex;
  max-width: 40rem;
  margin: auto;
}
.form-section {
  align-self: stretch;
  flex: 1;
}
.form-section > form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
input {
  background-color: transparent;
}

form > a {
  color: #337ab7;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  .login-container {
    padding: 2rem 3rem;
  }
}
@media (max-width: 425px) {
  .login-container {
    padding: 2rem 1rem;
    margin: 2rem 0rem;
  }
}

@-webkit-keyframes autofill {
  0%,
  100% {
    background: transparent;
  }
}

input:-webkit-autofill {
  animation: autofill;
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
