<mat-card class="login-container flxc jcc aic mat-elevation-z8">
  <mat-card-title>
    <h2>Login Panel</h2>
  </mat-card-title>
  <mat-card-content class="form-section">
    <form #myform="ngForm">
      <mat-form-field>
        <mat-label>
          Email ID
        </mat-label>
        <input matInput type="email" name="email" pattern="^([a-zA-Z0-9_\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
          placeholder="Enter your email here" required minlength="4" [(ngModel)]="this.data.email" #email="ngModel">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Password
        </mat-label>
        <input matInput type="password" name="password" placeholder="Enter your password here" required minlength="4"
          maxlength="16" [(ngModel)]="this.data.password" #password="ngModel">
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!myform.form.valid" (click)="doLogin()">Login</button>
      <a routerLink="/account/register">
        Register
      </a>
    </form>
  </mat-card-content>
</mat-card>