<div id="formcss">
  <h2>Login Panel</h2>
  <form #myform="ngForm">
    <label for="email">Enter email</label>
    <div>
      <input type="text" id="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" placeholder="Enter Email here"
      required minlength="4" [(ngModel)]="data.email" #email="ngModel">
      <span>*
        <span style="font-size:10px;"> Enter a valid e-mail address</span>
      </span>
    </div>
    <label for="password">Enter Password</label>
    <div>
      <input type="password" name="password" id="password" placeholder="Enter Password here" required minlength="4" maxlength="16"
      [(ngModel)]="data.password" #password="ngModel">
      <span>*
        <span style="font-size:10px;"> Only 4-16 characters are allowed</span>
      </span>
    </div>
    <button [disabled]="!myform.form.valid" (click)="doLogin()">Login</button>
    <a routerLink="/account/register">
      Register
    </a>
  </form>
  <div class=" message alert alert-danger  col-md-6 col-md-offset-3 col-xs-10 col-md-offset-1" *ngIf="invalidAttempt" style="text-align:center;margin:0px;" role="alert">
    <strong>Invalid Email or Password </strong>
  </div>
</div>