<div class=" message alert" role="alert">
  <button type="button" class="close" (click)="removeMess()" style="padding:3px;" [disabled]="data.liked"
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <button type="button" [ngClass]="{'clicked':data.liked,'myclose':true}" (click)="toggleFav()" style="padding:3px;"
    aria-label="Favourite">
    <span class="glyphicon glyphicon-heart" style="color:grey;" aria-hidden="true"></span>
  </button>
  {{data.message}}
</div>