.scroll-box {
  background-color: transparent;
  overflow-y: scroll;
}
.scroll-box::-webkit-scrollbar {
  width: 0.4em;
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.scroll-bar-wrap:hover .cover-bar {
  opacity: 0;
  -webkit-transition: all 0.5s;
}
.red {
  color: rgb(165, 5, 5);
  text-shadow: white 0px 0px 2px;
}
.bold {
  font-weight: 900;
  display: block;
  text-align: center;
}
.link {
  color: rgb(71, 71, 247);
}
