<mat-card class="card-back mat-elevation-z8">
  <div
    style="
      background-color: black;
      width: 100px;
      height: 100px;
      margin: 0px auto;
      border-radius: 50%;
      overflow: hidden;
    "
  >
    <img src="" alt="nf" />
  </div>
  <div
    class="text"
    style="display: block; text-align: center; font-weight: 700;"
  >
    {{ userData.fullname }}
  </div>
  <div
    class="text"
    style="display: block; text-align: center; font-weight: 700;"
  >
    <span class="bold">
      <span class="red"> Messages:</span>
      {{ userData.messages.length }}
    </span>
    <span class="bold">
      <span class="red"> Fav Message :</span>
      {{ (userData.messages | getFav).length }}
    </span>
  </div>
  <a routerLink="/user/{{ userData.id }}" class="bold link"
    >{{ this.baseUrl }}/{{ userData.id }}
  </a>
</mat-card>
<mat-card class="card-back mt-10 mat-elevation-z8">
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Received">
        <mat-card class="scroll-box">
          <app-message-list
            [list]="userData.messages"
            [itemPerPage]="item"
            (update)="updateItem($event)"
          >
          </app-message-list>
        </mat-card>
      </mat-tab>
      <mat-tab label="Favorites">
        <mat-card class="scroll-box">
          <app-message-list
            [list]="userData.messages | getFav"
            [itemPerPage]="item"
            (update)="updateItem($event)"
          >
          </app-message-list>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
