.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.p-0 {
    padding: 0px!important;
}

.p-4 {
    padding: 4px!important;
}