<mat-card class="flxc mat-elevation-z0 parent-card p-0">
  <mat-card-title class="pb-15 text-c title p-4">
    Get feedback from your coworkers and friends
  </mat-card-title>
  <mat-card-content>
    <div class="flxc ais">
      <mat-card class="mb-15 mat-elevation-z8 light-back">
        <mat-card-title class="text-c">
          At Work
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-list>
            <mat-list-item matLine>
              <span class="left">
                Enhance your areas of strength
              </span>
            </mat-list-item>
            <mat-list-item><span class="left">
                Strengthen Areas for Improvement
              </span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-elevation-z8 light-back">
        <mat-card-title class="text-c">
          With Your Friends
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-list>
            <mat-list-item matLine>
              <span class="right">
                Improve your friendship by discovering your strengths and areas for improvement
              </span>
            </mat-list-item>
            <mat-list-item matLine>
              <span class="right">
                Let your friends be honest with you
              </span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-footer class="m-0 text-c auth-actions" *ngIf="!isLoggedIn">
    <a routerLink="/account/register">Register</a>
    <span> | </span>
    <a routerLink="/account/login">Login</a>
  </mat-card-footer>
</mat-card>