.parent-card {
  background-color: var(--primary-color);
}

.title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 4rem;
}

.light-back {
  background-color: var(--light-color);
}

.left, .right {
  display: flex;
  flex: 1;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.auth-actions>a, .auth-actions>span {
  color: var(--secondary-color);
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.7rem;
    line-height: 3rem;
  }
  .left, .right {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}