<div id="formcss">
  <h2>Register Panel</h2>
  <form #myform="ngForm">
    <label for="fullName">Enter Full Name</label>
    <div>
      <input type="text" id="fullName" name="fullName" required placeholder="Enter your Full Name here" required [(ngModel)]="data.fullName"
        #username="ngModel">
    </div>
    <label for="username">Enter Username</label>
    <div>
      <input type="text" id="username" name="username" required placeholder="Enter Username here" required [(ngModel)]="data.username"
        #username="ngModel">
      <span>*
        <span style="font-size:10px;"> Enter a unique username</span>
      </span>
    </div>
    <label for="email">Enter email</label>
    <div>
      <input type="text" id="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" placeholder="Enter Email here"
        required [(ngModel)]="data.email" #username="ngModel">
      <span>*
        <span style="font-size:10px;"> Enter a valid e-mail address</span>
      </span>
    </div>
    <label for="password">Enter Password</label>
    <div>
      <input type="password" name="password" id="password" placeholder="Enter Password here" required minlength="4" maxlength="16"
        [(ngModel)]="data.password" #password="ngModel">
      <span>*
        <span style="font-size:10px;"> Only 4-16 characters are allowed</span>
      </span>
    </div>
    <label for="cpassword">Confirm Password</label>
    <div>
      <input type="password" name="cpassword" id="cpassword" laceholder="Re-enter Password here" required appEqualCheck [equalCheck]="data.password"
        maxlength="16" [(ngModel)]="data.cpassword" #cpassword="ngModel">
    </div>
      <button type="submit" [disabled]="!myform.form.valid" (click)="doRegister()">Register</button>
      <span>*
        <span style="font-size:10px;"> All fields are mandatory</span>
      </span>
    <a routerLink="/account/login">
      Login
    </a>
  </form>
  <div class=" message alert alert-danger  col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" *ngIf="invalidAttempt" style="text-align:center"
    role="alert">
    <strong>Either Username is unavilable or details are not valid </strong>
  </div>
  <div class=" message alert alert-success  col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" *ngIf="registered" style="text-align:center"
    role="alert">
    <strong>Your Account has been registerd, Login to Access your Account </strong>
  </div>
  <div class=" message alert alert-warning  col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" *ngIf="wait" style="text-align:center"
    role="alert">
    <strong>Please wait till the Registration is Completed
      <span style="font-size:10px;display:block;">Don't navigate from this Section</span>
    </strong>
  </div>
</div>